* {
    box-sizing: border-box;

}

body {
    margin: 0 2rem

}

#container {
    max-width: 1000px;
    margin: 2rem auto;
    display:flex;
    flex-direction: column;
    align-items: center;

}

h1 {
   
}

#content_div {
    
    display: flex;
    flex-direction: column;
    border: double 6px black;
    padding: 2rem 2rem

}

.flex-item {
    margin: 1rem 0
}

table {
    border: 2px solid black;
    border-spacing: 0;

}

tr th {
    width: 25%;
    text-align: left;
}

td {
    width: 25%;
    border: solid black 1px;
    
}
